#admin_bar {
  font-size: 13px;
  font-family: verdana, sans-serif;
  background-color: #1D1D1D;
  text-align: center;
  color: #fff !important;
  padding: 2px;

  strong, a {
    color: #fff !important;
    font-family: verdana, sans-serif;
  }

  a:hover {
    color: #aaa !important;
    text-decoration: underline;
  }
}
